% The next option is required so we can use lager.
{erl_opts, [{parse_transform, lager_transform},{src_dirs, ["src", "test"]}]}.
{lib_dirs,["deps"]}.
% Our dependencies.
{deps, [
  {'lager', ".*", {
    git, "git://github.com/basho/lager.git", "master"}
  },
  {'etest', ".*", {
    git, "git://github.com/wooga/etest.git"}
  }]
}.
